{% form_theme form _self %}
{{ form_start(form, { 'attr': { 'method': 'post', 'novalidate': 'novalidate', 'action': path('account_change_password') } }) }}
<div class="container">
    <div class="row justify-content-start">
        <div class="col-12 col-md-6 col-lg-4">
            <h3 class="text-center">Changer le mot de passe</h3>
            {{ form_row(form.old_password, { 'label': 'Ancien mot de passe', 'attr': { 'autocomplete': 'off' } }) }}
            <div class="form-group">
                {{ form_label(form.new_password.first,'Nouveau mot de Passe') }}
                {{ form_errors(form.new_password.first) }}
                <div class="input-group">
                    {{ form_widget(form.new_password.first,{'id': 'password1', 'attr':{'placeholder' : 'Mot de passe', 'class' : 'input-password form-control'}}  ) }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary password-toggle" data-target-input="password1" type="button"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.new_password.second,'Confirmez le nouveau mot de passe') }}
                {{ form_errors(form.new_password.second) }}
                <div class="input-group">
                    {{ form_widget(form.new_password.second,{'id': 'password2', 'attr':{'placeholder' : 'Confirmez le mot de passe', 'class': 'form-control'}}  ) }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary password-toggle" data-target-input="password2" type="button"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-custom-primary m-3">Changer le mot de passe </button>
{{ form_end(form) }}