{% extends 'base.html.twig' %}

{% block title %} Le Quai Antique {% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_home') }}">
                    <img src="{{ asset('Images/LeQuaiAntique.png') }}" alt="Logo Du Quai Antique" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="{{ path('app_singleMeals') }}">La carte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <h1 class="align-self-lg-center">Bienvenue au Quai antique</h1>
    </div>

    <section class="featured-dishes">
        <h2>quelques photos de nos plats</h2>


    </section>

    <section class="about-us">
        <h2>About Us</h2>
        <p>We are a family-owned restaurant dedicated to serving the best food in town. Our chefs are passionate about using only the freshest ingredients to create delicious dishes that will keep you coming back for more.</p>
        <a href="#" class="button">Learn More</a>
    </section>

    <section class="contact-us">
        <h2>Contact Us</h2>
        <p>For reservations or questions, please call us at <a href="tel:123-456-7890">123-456-7890</a> or send us an email at <a href="mailto:info@restaurant.com">info@restaurant.com</a>.</p>
    </section>
    {% block javascripts%}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">

        </script>
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    {% endblock %}
{% endblock %}
