{% extends 'base.html.twig' %}

{% block title %}Connectez vous{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <form action="{{ path('app_login') }}" method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {# Formulaire de login  #}
                            {# Champs email #}
                        <div class="form-group">
                            <label for="username">Adresse Email</label>
                            <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control"
                                   autocomplete="email" placeholder="Adresse Email" required autofocus>
                        </div>
                            {# Champs mot de passe #}
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <div class="input-group">
                                <input type="password" name="_password" id="password" class="form-control"
                                       autocomplete="current-password" spellcheck="false"  autocorrect="off"
                                       autocapitalize="off" placeholder="Mot de passe" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary password-toggle" data-target-input="password" type="button"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>


                        {# Token CSRF #}
                          <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {# bouton de connexion #}
                        <div class="form-group">
                            <button class="form-control btn btn-primary mt-2" type="submit">
                                Se Connecter
                            </button>
                        </div>
                    </form>
                        {# Bouton de redirection vers la page d'inscription #}
                    <div class="mt-2">

                        <div class="form-group">
                            <a class="btn btn-outline-primary form-control" href="{{ path('app_register') }}">S'inscrire</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts%}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">

        </script>
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <script src="{{ asset('js/PasswordToggle.js') }}"></script>
    {% endblock %}
{% endblock %}
