{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_home') }}">
                    <img src="{{ asset('Images/LeQuaiAntique.png') }}" alt="Logo Du Quai Antique" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_singleMeals') }}">La carte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <form action="{{ path('app_login') }}" method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="m-3 p-3">
                                Vous êtes connecté en tant que  {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">déconnexion</a>
                            </div>
                        {% endif %}
                        {# Formulaire de login  #}
                            {# Champs email #}
                        <div class="form-group">
                            <label for="username">Adresse Email</label>
                            <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control"
                                   autocomplete="email" placeholder="Adresse Email" required autofocus>
                        </div>
                            {# Champs mot de passe #}
                        <div class="form-group ">
                            <label for="password">Mot de passe</label>
                            <div class="input-group">
                                <input type="password" name="_password" id="password" class="form-control"
                                       autocomplete="current-password" spellcheck="false"  autocorrect="off"
                                       autocapitalize="off" placeholder="Mot de passe" required>
                                {# Oeuil pour afficher mdp en clair #}
                                <button id="toggle-password" type="button" class="d-none"
                                        aria-label="Show password as plain text. Warning: this will display your password on the screen.">
                                </button>
                            </div>
                        </div>


                        {# Token CSRF #}
                          <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {# bouton de connexion #}
                        <button class=" form-control btn btn-primary mt-2 px-3" type="submit">
                            Se Connecter
                        </button>
                        {# Bouton de redirection vers la page d'inscription #}
                        <div>
                            <button class="form-control btn btn-primary mt-2 px-3">
                                <a class="link-light text-decoration-none" href="{{ path('app_register') }}"> S'inscrire</a>
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    {% block javascripts%}
        <script src="{{ asset('js/show-password-toggle.min.js') }}"></script>
    {% endblock %}
{% endblock %}
