{% extends 'base.html.twig' %}

{% block title %}Réserver{% endblock %}

{% block body %}
    <h1>Create a new booking</h1>

    {{ form_start(form) }}
    {{ form_row(form.restaurant) }}
    {{ form_row(form.date) }}
    {{ form_row(form.time) }}
    {{ form_row(form.numGuests) }}
    {{ form_row(form.allergies) }}
    {{ form_rest(form) }}
    <button type="submit" class="form-control btn btn-primary mt-2 px-3">Valider</button>
    {{ form_end(form) }}
{% endblock %}
