<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Site officiel du restaurant le Quai Antique, pour voir nos horaires d'ouverture, découvrir notre carte ou réserver c'est ici !">
        <meta name="author" content="Eyr0n.Dev">
        <meta name="keywords" content="Restaurant, Cuisine savoyarde, Nourriture, Chambery">
        <meta name="robots" content="index, follow">
        <meta name="theme-color" content="#121212">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/index.css') }}">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
                  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
        {% endblock %}

    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg custom-navbar-footer">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_home') }}">
                    <img src="{{ asset('Images/LeQuaiAntique.png') }}" alt="Logo Du Quai Antique" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %} active{% endif %}"  href="{{ path('app_home') }}"
                               {% if app.request.attributes.get('_route') == 'app_home' %}aria-current="page"{% endif %}>Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'app_singleMeals' %} active{% endif %}"   href="{{ path('app_singleMeals') }}"
                               {% if app.request.attributes.get('_route') == 'app_singleMeals' %}aria-current="page"{% endif %}>La carte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'booking' %} active{% endif %}" href="{{ path('booking') }}"
                            {% if app.request.attributes.get('_route') == 'booking' %}aria-current="page"{% endif %}>Réserver</a>
                        </li>
                        {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_login' %} active{% endif %}" href="{{ path('app_login') }}"
                                   {% if app.request.attributes.get('_route') == 'app_login' %}aria-current="page"{% endif %}>Connexion</a>
                            </li>
                        {% endif %}
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') == 'admin' %} active{% endif %}" href="{{ path('admin') }}"
                                   {% if app.request.attributes.get('_route') == 'admin' %}aria-current="page"{% endif %}>Panneau d'administration</a>
                            </li>
                        {% endif %}
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_logout' %} active{% endif %}"  href="{{ path('app_logout') }}"
                                   {% if app.request.attributes.get('_route') == 'app_logout' %}aria-current="page"{% endif %}>Déconnexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block body %}

        {% endblock %}
    </main>
    {% include 'footer.html.twig' %}
    </body>
</html>
