{% extends 'base.html.twig' %}

{% block title %}Hello SingleMealsController!{% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img src="{{ asset('Images/LeQuaiAntique.png') }}" alt="Logo Du Quai Antique">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ path('app_home') }}">Accueil</a>
                    <a class="nav-item nav-link" href="#">La carte</a>
                    <a class="nav-item nav-link" href="{{ path('app_login') }}">Connexion</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        {% for plat in plats %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    {# <img class="card-img-top" src="{{ plat.image }}" alt="{{ plat.name }}"> #}
                    <div class="card-body">
                        <h5 class="card-title">{{ plat.name }}</h5>
                        <p class="card-subtitle">{{ plat.Category}} </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-footer">{{ plat.price }} €</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
